/*
	Author	:	Christopher Robinson
	Email		:	christopher@edg3.co.uk
	Website	:	http://www.edg3.co.uk/
*/
* {
	border:0;
	margin:0;
	padding:0;
}

/* general */
a {
	color:#777;
	text-decoration:none;
}

a:hover {
	color:#333;
	text-decoration:none;
}

/* body */
body {
	background:#ffffff;
	color:#555;
	font:0.8em Courier , 	Helvetica, "bitstream vera sans", sans-serif;
}

/* header */
#header {
	/* border-bottom:1px solid #999; */
	height:80px;
	margin:0 auto;
	width:751px;
	width:1006px;
	background-color: cyan;
}
#header h1 {
	color:#888;
	font-size:300%;
	letter-spacing:-3px;
	text-align:right;
	padding:5px;
	margin-bottom:-20px;
}
#header h2 {
	color:#CCC;
	font-size:200%;
	letter-spacing:-2px;
	text-align:right;
}

/* navigation */
#navigation {
	background:#fafafa;
	border-right:1px solid #999;
	margin:10px auto;
	/* width:750px; */
	width:1006px;
	height:40px;
	list-style:none;
}
#navigation li {
	border-left:1px solid #999;
	float:left;
	/* width:149px; */
	width:200px;
	list-style:none;
}
#navigation a {
	color:#555;
	display:block;
	line-height:40px;
	text-align:center;
	font-weight: 800;
	font-size: 16px;
	text-transform: uppercase;
	transition: linear 0.3s;
	padding-left: 0px;
	
}
#navigation a:hover {
	background:#e3e3e3;
	color:#555;
	transition: linear 0.3s;
	padding-left: 18px;
	/* font-size: 18px; */
	background:cyan;
}
#navigation .active {
	background:#e3e3e3;
	color:#777;

}

/* content */
#content {
	height:auto;
	margin:0 auto;
	padding:0 0 20px;
	width:751px;
}
#content h1 {
	border-bottom:1px dashed #999;
	font-size:1.8em;
	padding:20px 0 0;
}
#content p {
	padding:20px 20px 0;
}

/* footer */
#footer {
	border-top:1px solid #999; 
	height:50px;
	margin:0 auto;
	padding:10px;
	text-align:center;
	width:1005px;
	background-color: cyan;
	line-height: 50px;
	font-size: 16px;
	color: #000000;
	font-weight: 700;
}

/* Added by Larry Ullman: */
.error, .ad {
	font-weight: bold;
	color: #C00
}

input, select, .input {
	padding: 5px;
	font-weight: bold;
	font-size: 1em;
	color: #008040;
	background: #FFFFFF;
	border:1px dotted #004080;
}

.third-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
	text-align: center;
	/* padding-right: 10px; */
}

.third-level-menu > li
{
    height: 30px;
    background: #999999;
}
.third-level-menu > li:hover { background: #CCCCCC; }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
	/* font:0.8em Courier , 	Helvetica, "bitstream vera sans", sans-serif */
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: #999999;
}
.second-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background: #999999;
}
.top-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    /* font: bold 14px Arial, Helvetica, sans-serif; */
	font:16px Courier , 	Helvetica, "bitstream vera sans", sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: #000000; }


form{
	margin-top: 50px;
}